{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet",
    "IotHubConnectionString": "---IOT-HUB-ENDPOINT-URL-STARTING-WITH-ENDPOINT=",
    "TELEGRAM_BOT_TOKEN": "---TELEGRAM-BOT-TOKEN---",
    "TELEGRAM_CHAT_ID": "---YOUR-CHAT-ID---"
  }
}